# Imports and functions

In [1]:
from typing import Dict
import pandas as pd


def show_transposed(df: pd.DataFrame):
    """Show first five rows transposed."""
    return df.head(5).T


def print_shape(df: pd.DataFrame):
    """Print DataFrame shape."""
    print(df.shape)


def export_number_of_unique(df: pd.DataFrame):
    """Check number of unique items in each column."""
    file = 'number_of_unique.json'
    df.nunique().sort_values(ascending=False).to_json(file, indent=4)
    print(f"Exported to: {file}")


def print_unique(df: pd.DataFrame, threshold=20):
    """Print unique values of each column.

    Only prints if the number of unique values is under the threshold."""

    for col in df.columns:
        if df[col].nunique() < threshold:
            print(f"{col}: {df[col].unique()}")


def get_columns_for_table(mapping_dict: Dict, match: str):
    """Return columns that match the value in the mapping dict."""

    columns = [col for col, value in mapping_dict.items() if value == match]
    print(f"{match} has {len(columns)} columns.")
    return columns

# Read raw data

In [12]:
# Read raw data
df_raw = pd.read_csv('data/raw/DataChallenge.csv')
df_raw

,company_id,lane,quote_date,book_date,source_date,pickup_date,delivery_date,book_price,source_price,pnl,...,pickup_appointment_time,delivery_appointment_time,has_mobile_app_tracking,has_mobile_app_tracking.1,has_macropoint_tracking,has_edi_tracking,contracted_load,load_booked_autonomously,load_sourced_autonomously,load_was_cancelled
0,206431033,"Hood River,OR -> Upper Marlboro,MD",12/15/2017 13:08,12/15/2017 13:09,12/15/2017 13:44,12/15/2017 11:00,12/21/2017 2:00,8922.51,8500.0,422.51,...,12/15/2017 20:00,12/21/2017 0:00,False,False,False,False,False,False,False,False
1,206521177,"Etowah,TN -> Reno,NV",11/20/2017 9:32,11/20/2017 9:32,11/21/2017 9:46,11/21/2017 14:00,11/27/2017 16:00,8726.17,4000.0,4726.17,...,11/21/2017 14:00,11/27/2017 17:00,False,False,False,False,False,False,False,False
2,206694049,"Salinas,CA -> Upper Marlboro,MD",6/1/2017 18:04,6/1/2017 18:04,6/2/2017 15:11,6/3/2017 2:00,6/9/2017 4:10,8548.19,8220.0,328.19,...,6/3/2017 2:00,6/8/2017 23:00,False,False,False,False,False,False,False,False
3,206553113,"Montpelier,OH -> Reno,NV",11/20/2017 9:10,11/20/2017 9:10,11/20/2017 12:39,11/22/2017 17:00,11/28/2017 19:00,8409.27,5000.0,3409.27,...,11/22/2017 17:00,11/28/2017 19:00,False,False,False,False,False,False,False,False
4,206518817,"Newark,DE -> Portland,OR",9/25/2017 15:07,9/25/2017 15:07,9/26/2017 9:05,9/26/2017 17:00,10/2/2017 11:55,8351.95,5500.0,2851.95,...,9/26/2017 17:00,10/2/2017 10:00,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5356,206470049,"Modesto,CA -> Modesto,CA",7/11/2017 10:17,7/11/2017 10:23,NaN,7/12/2017 12:00,7/11/2017 10:41,0.00,0.0,0.00,...,7/12/2017 20:00,7/12/2017 20:00,False,False,False,False,False,False,False,True
5357,206466849,"Plant City,FL -> Commerce,CA",10/10/2017 14:11,10/10/2017 14:11,NaN,10/20/2017 8:00,10/19/2017 12:46,0.00,0.0,0.00,...,10/20/2017 16:00,10/25/2017 10:00,False,False,False,False,False,False,False,True
5358,206432961,"Plant City,FL -> Woodbridge Township,NJ",10/17/2017 13:09,10/17/2017 13:09,NaN,11/3/2017 8:00,10/27/2017 9:18,0.00,0.0,0.00,...,11/3/2017 17:00,11/6/2017 7:00,False,False,False,False,False,False,False,True
5359,206504257,"Austin,TX -> Wayzata,MN",6/22/2017 10:27,6/22/2017 10:27,6/23/2017 13:56,6/23/2017 11:00,6/26/2017 7:37,0.00,0.0,0.00,...,6/23/2017 19:00,6/26/2017 13:00,False,False,False,False,False,False,False,True
5360,206583385,"Santa Ana,CA -> Portland,OR",8/31/2017 13:22,8/31/2017 13:22,9/14/2017 13:42,9/18/2017 17:00,9/15/2017 17:27,0.00,0.0,0.00,...,9/18/2017 17:00,9/20/2017 11:00,False,False,False,False,False,False,False,True

In [3]:
# Show first five rows transposed so all columns are displayed
df_raw.head(5).T

,0,1,2,3,4
company_id,206431033,206521177,206694049,206553113,206518817
lane,"Hood River,OR -> Upper Marlboro,MD","Etowah,TN -> Reno,NV","Salinas,CA -> Upper Marlboro,MD","Montpelier,OH -> Reno,NV","Newark,DE -> Portland,OR"
quote_date,12/15/2017 13:08,11/20/2017 9:32,6/1/2017 18:04,11/20/2017 9:10,9/25/2017 15:07
book_date,12/15/2017 13:09,11/20/2017 9:32,6/1/2017 18:04,11/20/2017 9:10,9/25/2017 15:07
source_date,12/15/2017 13:44,11/21/2017 9:46,6/2/2017 15:11,11/20/2017 12:39,9/26/2017 9:05
pickup_date,12/15/2017 11:00,11/21/2017 14:00,6/3/2017 2:00,11/22/2017 17:00,9/26/2017 17:00
delivery_date,12/21/2017 2:00,11/27/2017 16:00,6/9/2017 4:10,11/28/2017 19:00,10/2/2017 11:55
book_price,8922.51,8726.17,8548.19,8409.27,8351.95
source_price,8500.0,4000.0,8220.0,5000.0,5500.0
pnl,422.51,4726.17,328.19,3409.27,2851.95
mileage,2753.5,2331.3,3013.4,2082.3,2847.7
equipment_type,RFR,DRV,RFR,DRV,DRV
carrier_rating,NaN,NaN,NaN,NaN,NaN
sourcing_channel,dat_in,NaN,NaN,NaN,NaN
vip_carrier,False,False,False,False,False
carrier_dropped_us_count,0,0,0,0,0
carrier_name,Carrier 605817,Carrier 1396487,Carrier 1044585,Carrier 738,Carrier 14533
shipper_name,Shipper 758,Shipper 1644,Shipper 758,Shipper 1644,Shipper 1644
carrier_on_time_to_pickup,True,True,True,True,True
carrier_on_time_to_delivery,True,True,True,True,True
carrier_on_time_overall,True,True,True,True,True
pickup_appointment_time,12/15/2017 20:00,11/21/2017 14:00,6/3/2017 2:00,11/22/2017 17:00,9/26/2017 17:00
delivery_appointment_time,12/21/2017 0:00,11/27/2017 17:00,6/8/2017 23:00,11/28/2017 19:00,10/2/2017 10:00
has_mobile_app_tracking,False,False,False,False,False
has_mobile_app_tracking.1,False,False,False,False,False
has_macropoint_tracking,False,False,False,False,False
has_edi_tracking,False,False,False,False,False
contracted_load,False,False,False,False,False
load_booked_autonomously,False,False,False,False,False
load_sourced_autonomously,False,False,False,False,False
load_was_cancelled,False,False,False,False,False

# Drop duplicated rows and columns, and set index

## Drop duplicated columns

In [4]:
# Check if column 'has_mobile_app_tracking' is duplicated
from pandas.testing import assert_series_equal
col_a = 'has_mobile_app_tracking'
col_b = 'has_mobile_app_tracking.1'

assert_series_equal(df_raw[col_a], df_raw[col_b], check_names=False)

# the columns above are the same, so the second one can be deleted

In [5]:
# Drop duplicated column
df = df_raw.copy()
print_shape(df)
df.drop(columns='has_mobile_app_tracking.1', inplace=True)
print_shape(df)

(5361, 31)
(5361, 30)

In [6]:
show_transposed(df)

,0,1,2,3,4
company_id,206431033,206521177,206694049,206553113,206518817
lane,"Hood River,OR -> Upper Marlboro,MD","Etowah,TN -> Reno,NV","Salinas,CA -> Upper Marlboro,MD","Montpelier,OH -> Reno,NV","Newark,DE -> Portland,OR"
quote_date,12/15/2017 13:08,11/20/2017 9:32,6/1/2017 18:04,11/20/2017 9:10,9/25/2017 15:07
book_date,12/15/2017 13:09,11/20/2017 9:32,6/1/2017 18:04,11/20/2017 9:10,9/25/2017 15:07
source_date,12/15/2017 13:44,11/21/2017 9:46,6/2/2017 15:11,11/20/2017 12:39,9/26/2017 9:05
pickup_date,12/15/2017 11:00,11/21/2017 14:00,6/3/2017 2:00,11/22/2017 17:00,9/26/2017 17:00
delivery_date,12/21/2017 2:00,11/27/2017 16:00,6/9/2017 4:10,11/28/2017 19:00,10/2/2017 11:55
book_price,8922.51,8726.17,8548.19,8409.27,8351.95
source_price,8500.0,4000.0,8220.0,5000.0,5500.0
pnl,422.51,4726.17,328.19,3409.27,2851.95
mileage,2753.5,2331.3,3013.4,2082.3,2847.7
equipment_type,RFR,DRV,RFR,DRV,DRV
carrier_rating,NaN,NaN,NaN,NaN,NaN
sourcing_channel,dat_in,NaN,NaN,NaN,NaN
vip_carrier,False,False,False,False,False
carrier_dropped_us_count,0,0,0,0,0
carrier_name,Carrier 605817,Carrier 1396487,Carrier 1044585,Carrier 738,Carrier 14533
shipper_name,Shipper 758,Shipper 1644,Shipper 758,Shipper 1644,Shipper 1644
carrier_on_time_to_pickup,True,True,True,True,True
carrier_on_time_to_delivery,True,True,True,True,True
carrier_on_time_overall,True,True,True,True,True
pickup_appointment_time,12/15/2017 20:00,11/21/2017 14:00,6/3/2017 2:00,11/22/2017 17:00,9/26/2017 17:00
delivery_appointment_time,12/21/2017 0:00,11/27/2017 17:00,6/8/2017 23:00,11/28/2017 19:00,10/2/2017 10:00
has_mobile_app_tracking,False,False,False,False,False
has_macropoint_tracking,False,False,False,False,False
has_edi_tracking,False,False,False,False,False
contracted_load,False,False,False,False,False
load_booked_autonomously,False,False,False,False,False
load_sourced_autonomously,False,False,False,False,False
load_was_cancelled,False,False,False,False,False

## Check if column 'company_id' is a unique index, and can be used as primary key
(Yes, but duplicated rows must be dropped, as demonstrated bellow)

In [7]:
# Check number of unique items in each column
df.nunique().sort_values(ascending=False)

# Column company_id has 5357 unique values, which is different of the number of records 5361
# We'll investigate that below.

company_id                   5357
quote_date                     5207
book_date                      5203
delivery_date                  4667
source_date                    4592
delivery_appointment_time      3395
pickup_date                    3032
pnl                            2879
pickup_appointment_time        2841
book_price                     2661
carrier_name                   2202
lane                           1570
mileage                        1567
source_price                    533
shipper_name                     94
sourcing_channel                  8
carrier_rating                    6
carrier_dropped_us_count          4
equipment_type                    3
carrier_on_time_to_pickup         2
carrier_on_time_to_delivery       2
carrier_on_time_overall           2
vip_carrier                       2
load_booked_autonomously          2
load_sourced_autonomously         2
load_was_cancelled                2
has_mobile_app_tracking           1
has_macropoint_tracking           1
has_edi_tracking                  1
contracted_load                   1
dtype: int64

In [8]:
df['company_id'].value_counts()

# The following 4 company_id are repeated: 206432441, 206533729, 206437697, 206586825

repeated_company_ids = [206432441, 206533729, 206437697, 206586825]
df_temp = df[df['company_id'].isin(repeated_company_ids)].sort_values('company_id')
df_temp

,company_id,lane,quote_date,book_date,source_date,pickup_date,delivery_date,book_price,source_price,pnl,...,carrier_on_time_overall,pickup_appointment_time,delivery_appointment_time,has_mobile_app_tracking,has_macropoint_tracking,has_edi_tracking,contracted_load,load_booked_autonomously,load_sourced_autonomously,load_was_cancelled
11,206432441,"Trenton,MO -> Reno,NV",12/22/2017 11:35,12/22/2017 11:35,12/22/2017 13:07,12/22/2017 16:00,12/26/2017 13:34,7632.35,6000.0,1632.35,...,True,12/22/2017 16:00,12/26/2017 12:00,False,False,False,False,False,False,False
71,206432441,"Trenton,MO -> Reno,NV",12/22/2017 11:35,12/22/2017 11:35,12/22/2017 13:07,12/22/2017 16:00,12/26/2017 13:34,7632.35,6000.0,1632.35,...,True,12/22/2017 16:00,12/26/2017 12:00,False,False,False,False,False,False,False
5258,206437697,"Plant City,FL -> McCook,IL",1/4/2017 16:24,1/4/2017 16:24,NaN,1/23/2017 9:00,1/20/2017 8:53,0.00,0.0,0.00,...,NaN,1/23/2017 15:00,1/25/2017 11:00,False,False,False,False,False,False,True
5344,206437697,"Plant City,FL -> McCook,IL",1/4/2017 16:24,1/4/2017 16:24,NaN,1/23/2017 9:00,1/20/2017 8:53,0.00,0.0,0.00,...,NaN,1/23/2017 15:00,1/25/2017 11:00,False,False,False,False,False,False,True
34,206533729,"Compton,CA -> Plant City,FL",12/13/2017 17:46,12/13/2017 17:47,12/14/2017 7:48,12/14/2017 11:00,12/20/2017 12:00,6900.00,6700.0,200.00,...,False,12/14/2017 15:00,12/19/2017 8:00,False,False,False,False,False,False,False
179,206533729,"Compton,CA -> Plant City,FL",12/13/2017 17:46,12/13/2017 17:47,12/14/2017 7:48,12/14/2017 11:00,12/20/2017 12:00,6900.00,6700.0,200.00,...,False,12/14/2017 15:00,12/19/2017 8:00,False,False,False,False,False,False,False
246,206586825,"Sapulpa,OK -> Warner Robins,GA",12/1/2017 16:15,12/1/2017 16:15,12/4/2017 10:12,12/4/2017 7:00,12/6/2017 10:00,4114.33,3100.0,1014.33,...,True,12/4/2017 22:00,12/6/2017 10:00,False,False,False,False,False,False,False
278,206586825,"Sapulpa,OK -> Warner Robins,GA",12/1/2017 16:15,12/1/2017 16:15,12/4/2017 10:12,12/4/2017 7:00,12/6/2017 10:00,4114.33,3100.0,1014.33,...,True,12/4/2017 22:00,12/6/2017 10:00,False,False,False,False,False,False,False

## Drop duplicated rows

In [9]:
# It seems that there are duplicated records. To confirm it let's check with drop_duplicates()
df_temp.drop_duplicates()

# Originally there were 8 rows, from which 4 were dropped, as they were duplicates.

,company_id,lane,quote_date,book_date,source_date,pickup_date,delivery_date,book_price,source_price,pnl,...,carrier_on_time_overall,pickup_appointment_time,delivery_appointment_time,has_mobile_app_tracking,has_macropoint_tracking,has_edi_tracking,contracted_load,load_booked_autonomously,load_sourced_autonomously,load_was_cancelled
11,206432441,"Trenton,MO -> Reno,NV",12/22/2017 11:35,12/22/2017 11:35,12/22/2017 13:07,12/22/2017 16:00,12/26/2017 13:34,7632.35,6000.0,1632.35,...,True,12/22/2017 16:00,12/26/2017 12:00,False,False,False,False,False,False,False
5258,206437697,"Plant City,FL -> McCook,IL",1/4/2017 16:24,1/4/2017 16:24,NaN,1/23/2017 9:00,1/20/2017 8:53,0.00,0.0,0.00,...,NaN,1/23/2017 15:00,1/25/2017 11:00,False,False,False,False,False,False,True
34,206533729,"Compton,CA -> Plant City,FL",12/13/2017 17:46,12/13/2017 17:47,12/14/2017 7:48,12/14/2017 11:00,12/20/2017 12:00,6900.00,6700.0,200.00,...,False,12/14/2017 15:00,12/19/2017 8:00,False,False,False,False,False,False,False
246,206586825,"Sapulpa,OK -> Warner Robins,GA",12/1/2017 16:15,12/1/2017 16:15,12/4/2017 10:12,12/4/2017 7:00,12/6/2017 10:00,4114.33,3100.0,1014.33,...,True,12/4/2017 22:00,12/6/2017 10:00,False,False,False,False,False,False,False

In [10]:
# drop duplicates
df.drop_duplicates(inplace=True)
print_shape(df)

(5357, 30)

## Set `company_id` as index

In [11]:
# set company_id as index
df = df.set_index('company_id')
print(f"df.shape = {df.shape}")
df

df.shape = (5357, 29)

,lane,quote_date,book_date,source_date,pickup_date,delivery_date,book_price,source_price,pnl,mileage,...,carrier_on_time_overall,pickup_appointment_time,delivery_appointment_time,has_mobile_app_tracking,has_macropoint_tracking,has_edi_tracking,contracted_load,load_booked_autonomously,load_sourced_autonomously,load_was_cancelled
company_id,,,,,,,,,,,,,,,,,,,,,
206431033,"Hood River,OR -> Upper Marlboro,MD",12/15/2017 13:08,12/15/2017 13:09,12/15/2017 13:44,12/15/2017 11:00,12/21/2017 2:00,8922.51,8500.0,422.51,2753.5,...,True,12/15/2017 20:00,12/21/2017 0:00,False,False,False,False,False,False,False
206521177,"Etowah,TN -> Reno,NV",11/20/2017 9:32,11/20/2017 9:32,11/21/2017 9:46,11/21/2017 14:00,11/27/2017 16:00,8726.17,4000.0,4726.17,2331.3,...,True,11/21/2017 14:00,11/27/2017 17:00,False,False,False,False,False,False,False
206694049,"Salinas,CA -> Upper Marlboro,MD",6/1/2017 18:04,6/1/2017 18:04,6/2/2017 15:11,6/3/2017 2:00,6/9/2017 4:10,8548.19,8220.0,328.19,3013.4,...,True,6/3/2017 2:00,6/8/2017 23:00,False,False,False,False,False,False,False
206553113,"Montpelier,OH -> Reno,NV",11/20/2017 9:10,11/20/2017 9:10,11/20/2017 12:39,11/22/2017 17:00,11/28/2017 19:00,8409.27,5000.0,3409.27,2082.3,...,True,11/22/2017 17:00,11/28/2017 19:00,False,False,False,False,False,False,False
206518817,"Newark,DE -> Portland,OR",9/25/2017 15:07,9/25/2017 15:07,9/26/2017 9:05,9/26/2017 17:00,10/2/2017 11:55,8351.95,5500.0,2851.95,2847.7,...,True,9/26/2017 17:00,10/2/2017 10:00,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206470049,"Modesto,CA -> Modesto,CA",7/11/2017 10:17,7/11/2017 10:23,NaN,7/12/2017 12:00,7/11/2017 10:41,0.00,0.0,0.00,6.8,...,NaN,7/12/2017 20:00,7/12/2017 20:00,False,False,False,False,False,False,True
206466849,"Plant City,FL -> Commerce,CA",10/10/2017 14:11,10/10/2017 14:11,NaN,10/20/2017 8:00,10/19/2017 12:46,0.00,0.0,0.00,2515.9,...,NaN,10/20/2017 16:00,10/25/2017 10:00,False,False,False,False,False,False,True
206432961,"Plant City,FL -> Woodbridge Township,NJ",10/17/2017 13:09,10/17/2017 13:09,NaN,11/3/2017 8:00,10/27/2017 9:18,0.00,0.0,0.00,1102.6,...,NaN,11/3/2017 17:00,11/6/2017 7:00,False,False,False,False,False,False,True
206504257,"Austin,TX -> Wayzata,MN",6/22/2017 10:27,6/22/2017 10:27,6/23/2017 13:56,6/23/2017 11:00,6/26/2017 7:37,0.00,0.0,0.00,1144.5,...,NaN,6/23/2017 19:00,6/26/2017 13:00,False,False,False,False,False,False,True
206583385,"Santa Ana,CA -> Portland,OR",8/31/2017 13:22,8/31/2017 13:22,9/14/2017 13:42,9/18/2017 17:00,9/15/2017 17:27,0.00,0.0,0.00,1015.2,...,NaN,9/18/2017 17:00,9/20/2017 11:00,False,False,False,False,False,False,True

# Investigate

## Looking for unique identifiers 'ids'

In [12]:
export_number_of_unique(df)

Exported to: number_of_unique.json

In [13]:
show_transposed(df)

# The following columns have potential to be used as foreign keys: carrier_name, shipper_name
# They seem to connect to Carriers and Shippers table.

company_id,206431033,206521177,206694049,206553113,206518817
lane,"Hood River,OR -> Upper Marlboro,MD","Etowah,TN -> Reno,NV","Salinas,CA -> Upper Marlboro,MD","Montpelier,OH -> Reno,NV","Newark,DE -> Portland,OR"
quote_date,12/15/2017 13:08,11/20/2017 9:32,6/1/2017 18:04,11/20/2017 9:10,9/25/2017 15:07
book_date,12/15/2017 13:09,11/20/2017 9:32,6/1/2017 18:04,11/20/2017 9:10,9/25/2017 15:07
source_date,12/15/2017 13:44,11/21/2017 9:46,6/2/2017 15:11,11/20/2017 12:39,9/26/2017 9:05
pickup_date,12/15/2017 11:00,11/21/2017 14:00,6/3/2017 2:00,11/22/2017 17:00,9/26/2017 17:00
delivery_date,12/21/2017 2:00,11/27/2017 16:00,6/9/2017 4:10,11/28/2017 19:00,10/2/2017 11:55
book_price,8922.51,8726.17,8548.19,8409.27,8351.95
source_price,8500.0,4000.0,8220.0,5000.0,5500.0
pnl,422.51,4726.17,328.19,3409.27,2851.95
mileage,2753.5,2331.3,3013.4,2082.3,2847.7
equipment_type,RFR,DRV,RFR,DRV,DRV
carrier_rating,NaN,NaN,NaN,NaN,NaN
sourcing_channel,dat_in,NaN,NaN,NaN,NaN
vip_carrier,False,False,False,False,False
carrier_dropped_us_count,0,0,0,0,0
carrier_name,Carrier 605817,Carrier 1396487,Carrier 1044585,Carrier 738,Carrier 14533
shipper_name,Shipper 758,Shipper 1644,Shipper 758,Shipper 1644,Shipper 1644
carrier_on_time_to_pickup,True,True,True,True,True
carrier_on_time_to_delivery,True,True,True,True,True
carrier_on_time_overall,True,True,True,True,True
pickup_appointment_time,12/15/2017 20:00,11/21/2017 14:00,6/3/2017 2:00,11/22/2017 17:00,9/26/2017 17:00
delivery_appointment_time,12/21/2017 0:00,11/27/2017 17:00,6/8/2017 23:00,11/28/2017 19:00,10/2/2017 10:00
has_mobile_app_tracking,False,False,False,False,False
has_macropoint_tracking,False,False,False,False,False
has_edi_tracking,False,False,False,False,False
contracted_load,False,False,False,False,False
load_booked_autonomously,False,False,False,False,False
load_sourced_autonomously,False,False,False,False,False
load_was_cancelled,False,False,False,False,False

## Classify in fact or dimension

In [14]:
FACT_OR_DIMENSION = {
    'lane': 'dimension',
    'quote_date': 'dimension',
    'book_date': 'dimension',
    'source_date': 'dimension',
    'pickup_date': 'dimension',
    'delivery_date': 'dimension',
    'book_price': 'fact',
    'source_price': 'fact',
    'pnl': 'fact',
    'mileage': 'fact',
    'equipment_type': 'dimension',
    'carrier_rating': 'dimension',
    'sourcing_channel': 'dimension',
    'vip_carrier': 'dimension',
    'carrier_dropped_us_count': 'dimension',
    'carrier_name': 'dimension',
    'shipper_name': 'dimension',
    'carrier_on_time_to_pickup': 'fact',
    'carrier_on_time_to_delivery': 'fact',
    'carrier_on_time_overall': 'fact',
    'pickup_appointment_time': 'dimension',
    'delivery_appointment_time': 'dimension',
    'has_mobile_app_tracking': 'dimension',
    'has_macropoint_tracking': 'dimension',
    'has_edi_tracking': 'dimension',
    'contracted_load': 'dimension',
    'load_booked_autonomously': 'dimension',
    'load_sourced_autonomously': 'dimension',
    'load_was_cancelled': 'dimension',
}

In [15]:
# The unique values of each column help to classify each column as fact or dimension.
# For instance, using the "analyze by what" approach, we can analyze by: 
#  - equipment_type: ['RFR' 'DRV' 'FBE'] 
#  - carrier_rating: [0 1 2 3 4 5]
#  - vip_carrier: [True False]

# A data analyst can see how pnl differs for vip carriers in comparison to non vip carriers.

print_unique(df)

equipment_type: ['RFR' 'DRV' 'FBE']
carrier_rating: [nan  4.  3.  2.  0.  1.  5.]
sourcing_channel: ['dat_in' nan 'carrier_capacity' 'source_list' 'dat_out' 'ts_out' 'ts_in'
 'external_source_list' 'livejobs']
vip_carrier: [False  True]
carrier_dropped_us_count: [0 1 2 3]
carrier_on_time_to_pickup: [True False nan]
carrier_on_time_to_delivery: [True False nan]
carrier_on_time_overall: [True False nan]
has_mobile_app_tracking: [False]
has_macropoint_tracking: [False]
has_edi_tracking: [False]
contracted_load: [False]
load_booked_autonomously: [False  True]
load_sourced_autonomously: [False  True]
load_was_cancelled: [False  True]

In [16]:
# Get fact and dimension columns list
fact_columns = get_columns_for_table(FACT_OR_DIMENSION, 'fact')
dimension_columns = get_columns_for_table(FACT_OR_DIMENSION, 'dimension')
print(fact_columns)
print(dimension_columns)

fact has 7 columns.
dimension has 22 columns.
['book_price', 'source_price', 'pnl', 'mileage', 'carrier_on_time_to_pickup', 'carrier_on_time_to_delivery', 'carrier_on_time_overall']
['lane', 'quote_date', 'book_date', 'source_date', 'pickup_date', 'delivery_date', 'equipment_type', 'carrier_rating', 'sourcing_channel', 'vip_carrier', 'carrier_dropped_us_count', 'carrier_name', 'shipper_name', 'pickup_appointment_time', 'delivery_appointment_time', 'has_mobile_app_tracking', 'has_macropoint_tracking', 'has_edi_tracking', 'contracted_load', 'load_booked_autonomously', 'load_sourced_autonomously', 'load_was_cancelled']

In [17]:
MAP_DIMENSION_TO_TABLE = {
    'lane': 'lane',

    'quote_date': 'date_and_time',
    'book_date': 'date_and_time',
    'source_date': 'date_and_time',
    'pickup_date': 'date_and_time',
    'delivery_date': 'date_and_time',
    'pickup_appointment_time': 'date_and_time',
    'delivery_appointment_time': 'date_and_time',

    'has_mobile_app_tracking': 'placeholder',
    'has_macropoint_tracking': 'placeholder',
    'has_edi_tracking': 'placeholder',
    'contracted_load': 'placeholder',
    
    'shipper_name': 'other',

    'carrier_name': 'other',
    'vip_carrier': 'other',
    'carrier_rating': 'other',
    'equipment_type': 'other',
    'sourcing_channel': 'other',
    'carrier_dropped_us_count': 'other',

    'load_booked_autonomously': 'other',
    'load_sourced_autonomously': 'other',
    'load_was_cancelled': 'other',
}

In [18]:
lane_columns = get_columns_for_table(MAP_DIMENSION_TO_TABLE, 'lane')
date_and_time_columns = get_columns_for_table(MAP_DIMENSION_TO_TABLE, 'date_and_time')
placeholder_columns = get_columns_for_table(MAP_DIMENSION_TO_TABLE, 'placeholder') # single value column
other_columns = get_columns_for_table(MAP_DIMENSION_TO_TABLE, 'other')

lane has 1 columns.
date_and_time has 7 columns.
placeholder has 4 columns.
other has 10 columns.

## Create views

In [19]:
df_fact = df[fact_columns]
df_fact

,book_price,source_price,pnl,mileage,carrier_on_time_to_pickup,carrier_on_time_to_delivery,carrier_on_time_overall
company_id,,,,,,,
206431033,8922.51,8500.0,422.51,2753.5,True,True,True
206521177,8726.17,4000.0,4726.17,2331.3,True,True,True
206694049,8548.19,8220.0,328.19,3013.4,True,True,True
206553113,8409.27,5000.0,3409.27,2082.3,True,True,True
206518817,8351.95,5500.0,2851.95,2847.7,True,True,True
...,...,...,...,...,...,...,...
206470049,0.00,0.0,0.00,6.8,NaN,NaN,NaN
206466849,0.00,0.0,0.00,2515.9,NaN,NaN,NaN
206432961,0.00,0.0,0.00,1102.6,NaN,NaN,NaN
206504257,0.00,0.0,0.00,1144.5,NaN,NaN,NaN
206583385,0.00,0.0,0.00,1015.2,NaN,NaN,NaN

In [20]:
df_lane = df[lane_columns]
df_date_and_time = df[date_and_time_columns]
df_placeholder = df[placeholder_columns]
df_other = df[other_columns]
df_other

,shipper_name,carrier_name,vip_carrier,carrier_rating,equipment_type,sourcing_channel,carrier_dropped_us_count,load_booked_autonomously,load_sourced_autonomously,load_was_cancelled
company_id,,,,,,,,,,
206431033,Shipper 758,Carrier 605817,False,NaN,RFR,dat_in,0,False,False,False
206521177,Shipper 1644,Carrier 1396487,False,NaN,DRV,NaN,0,False,False,False
206694049,Shipper 758,Carrier 1044585,False,NaN,RFR,NaN,0,False,False,False
206553113,Shipper 1644,Carrier 738,False,NaN,DRV,NaN,0,False,False,False
206518817,Shipper 1644,Carrier 14533,False,NaN,DRV,NaN,0,False,False,False
...,...,...,...,...,...,...,...,...,...,...
206470049,Shipper 585,NaN,False,NaN,DRV,NaN,0,False,False,True
206466849,Shipper 585,NaN,False,NaN,RFR,NaN,0,False,False,True
206432961,Shipper 585,NaN,False,NaN,DRV,NaN,0,False,False,True
206504257,Shipper 1531,Carrier 8420,False,NaN,DRV,NaN,0,False,False,True
206583385,Shipper 585,Carrier 72416,False,NaN,DRV,NaN,1,False,False,True